<h1>New Skill</h1>


<%= form_tag(skills_url, method: 'post') do %>


  <div>
    <%= label_tag :task %><br />
    <%= text_area_tag :task %>
  </div>

    <div>
    <%= label_tag :user_id %><br />
      <%= select_tag :user_id, options_from_collection_for_select(User.all, :id, :username) %>
  </div>


  <div>
    <%= submit_tag "Create Skill" %>
  </div>
<% end %>
