<h1>Offers</h1>

<p><%= link_to 'Add a New Offer', new_offer_url %></p>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Skill</th>
      <th>Other user</th>
      <th>Other skill</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @offers.each do |offer| %>
    <tr>
      <td><%= offer.user.username %></td>
      <td><%= offer.skill.task %></td>
      <td><%= offer.user.username %></td>
      <td><%= offer.skill.task %></td>

      <td><%= link_to 'Show', offer_url(offer) %></td>
      <td><%= link_to 'Edit', edit_offer_url(offer) %></td>
      <td><%= link_to 'Destroy', offer_url(offer), method: 'delete', data: { confirm: "Do you really want to delete this offer?" } %></td>

    </tr>
  <% end %>
  </tbody>
</table>

