<h1>Offer #<%= @offer.id %></h1>

<p>
  <b>User:</b>
  <%= @offer.user_id %>
</p>

<p>
  <b>Skill:</b>
  <%= @offer.skill_id %>
</p>

<p>
  <b>Other user:</b>
  <%= @offer.other_user_id %>
</p>

<p>
  <b>Other skill:</b>
  <%= @offer.other_skill_id %>
</p>


